.fu-b-card-left {
  border-radius: 1.25rem;
  background-color: var(--fu-card-color-blue);
  border: var(--fu-border-30);
  box-shadow: var(--fu-box-shadow-25-left);
  width: 25rem;
}

.fu-b-card-left .fu-b-card-title {
  font-weight: 900;
}

.fu-b-card-left img {
  width: 95%;
  margin: 2.5% auto;
  border: var(--fu-border-30);
  border-radius: 0;
}

table.fu-b-table {
  border-collapse: separate;
  border-radius: 1.25rem;
}

.fu-b-table {
  border: var(--fu-border-30);
  border-radius: 1.25rem;
  box-shadow: var(--fu-box-shadow-50);
  background-color: var(--fu-card-color-blue);
}

.fu-b-shadow-radius-0 {
  border: var(--fu-border-30);
  box-shadow: var(--fu-box-shadow-50);
}

.fu-b-shadow-radius-1 {
  border: var(--fu-border-30);
  box-shadow: var(--fu-box-shadow-50);
  border-radius: var(--fu-shadow-radius-25);
}

.fu-b-card-hover {
  background-color: lightblue;
  border: var(--fu-border-10);
  transform: translate(0.1rem, 0.1rem);
  transition: all 0.5s ease;
}

.fu-b-card-hover:hover {
  box-shadow: var(--fu-box-shadow-25);
  transform: translate(-0.1rem, -0.1rem);
  margin: 0;
}