.koji__table{
    border-collapse: collapse;

    thead{
        background-color: #4472c4;
        color: white;
        tr{
            border: 2px solid black;
            padding: 0 .5rem;
            th{
                border: 2px solid black;
                padding: .5rem 1rem;
                text-align: start;
                font-weight: normal;
            }
        }
    }

    tbody{
        tr{
            border: 2px solid black;
        }

        tr:nth-child(even){
            background-color: #e9ebf5;
        }

        tr:nth-child(odd){
            background-color: #cfd5ea;
        }

        td{
            padding: 0 1rem 1rem 1rem;
            border: 2px solid black;
        }
    }
}